/* src/components/Header.css */

.header {
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 140px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin:  10px 30px  10px 10px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__logo {
  height: 30px;
  margin-right: 40px;
}

.header__right {
  display: flex;
  align-items: center;
}

.header__actions-list {
  display: flex;
  list-style: none;
  padding: 0 0.5rem;
  margin: 0;
}

.header__actions-list li {
  margin-left: 1rem;
}

.header__actions-list li a {
  text-decoration: none;
  color: #242525;
  font-weight: 500;
}

.header__icon {
  font-size: 1.5rem;
}

.header__nav {
  display: flex;
  justify-content: center;
  flex: 1;
  margin-top: -10px;
  
}

.header__nav-list {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  
}

.header__nav-list li {
  margin: 0 1rem;
}

.header__nav-list li a {
  text-decoration: none;
  color: #484848;
  font-weight: 600;
}

.header__search {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.835);
  transition: box-shadow 0.4s ease;
  margin-top: -20px;
}

.header__search:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.header__search-item {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem;
  border-right: 1px solid #7f4747;
  transition: background-color 0.3s ease, border-color 0.3s ease;
  
}

.header__search-item:hover {
  background-color: #f1f1f1;
  border-color: #cccccc;
}

.header__search-item:last-child {
  border-right: none;
}

.header__search-title {
  font-size: 0.75rem;
  font-weight: 600;
}

.header__search-item input {
  border: none;
  outline: none;
  font-size: 1rem;
}

.header__search-button {
  background-color: #FF5A5F;
  border: none;
  padding: 0.7rem 0.7rem;
  color: white;
  cursor: pointer;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}

.header__search-button:hover {
  background-color: #e04848;
}
