.hero-section {
  padding: 20px;
}

.photo-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: 20px;
  gap: 10px;
  margin-bottom: 40px;
  margin: -25px 30px 0px 40px;
}

.photo-item {
  width: calc(25% - 10px);
  margin-bottom: 20px;
  position: relative;
  border-radius: 30px;
  overflow: hidden;
}

.photo-item img {
  width: 95%;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
}

.photo-content {
  background-color: rgba(255, 255, 255, 0);
  color: rgb(28, 28, 28);
  padding: 10px;
  text-align: left;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.title-section {
  margin-top: 40px;
}

.title-section h1 {
  margin-bottom: 20px;
}
